* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "gagalin";
  src: url("Gagalin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h3 {
  font-family: "gagalin", "sans-serif";
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.cv_haut, .cv_bas, .button_modal, #port_ouvert, #port_fermer {
  font-family: "gagalin", "sans-serif";
}

#btn_scroll {
  display: none;
  position: fixed;
  cursor: pointer;
  bottom: 2%;
  right: 2%;
  opacity: 0.5;
  z-index: 2;
  background-color: transparent;
  border: none;
}

.profil {
  height: 37rem;
}

.profil_droit {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .profil {
    height: 57rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .profil #Profil p {
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profil {
    height: 52rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profil #Profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profil #Profil p {
    padding-bottom: 4%;
  }
}
@media screen and (min-width: 1024px) {
  .profil {
    height: 30rem;
    display: flex;
  }
  .profil #Profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profil .moitie {
    width: 50%;
  }
  .profil .profil_droit {
    text-align: center;
  }
  .profil .profil_droit p {
    font-size: 1.15em;
  }
  .profil .profil_droit img {
    height: 70%;
    padding: 5% 0;
  }
}
.logiciel {
  display: grid;
}
.logiciel article {
  padding-bottom: 20%;
}
.logiciel .redim > img {
  height: 100px;
}
.logiciel .html {
  grid-area: html;
}
.logiciel .css {
  grid-area: css;
}
.logiciel .sass {
  grid-area: sass;
}
.logiciel .js {
  grid-area: js;
}
.logiciel .jquery {
  grid-area: jquery;
}
.logiciel .typescript {
  grid-area: typescript;
}
.logiciel .php {
  grid-area: php;
}
.logiciel .mysql {
  grid-area: mysql;
}
.logiciel .postgres {
  grid-area: postgres;
}
.logiciel .nodejs {
  grid-area: nodejs;
}
.logiciel .popos {
  grid-area: popos;
}
.logiciel .mocha {
  grid-area: mocha;
}
.logiciel .atom {
  grid-area: atom;
}
.logiciel .vscode {
  grid-area: vscode;
}
.logiciel .bootstrap {
  grid-area: bootstrap;
}
.logiciel .angular {
  grid-area: angular;
}
.logiciel .symfony {
  grid-area: symfony;
}
.logiciel .react {
  grid-area: react;
}
.logiciel .canvafigma {
  grid-area: canvafigma;
}
.logiciel .figma {
  grid-area: figma;
}
.logiciel .xd {
  grid-area: xd;
}
.logiciel .photoshop {
  grid-area: photoshop;
}
.logiciel .illustrator {
  grid-area: illustrator;
}
.logiciel .indesign {
  grid-area: indesign;
}

@media only screen and (max-width: 767px) {
  #Logiciel {
    margin-left: 5%;
  }
  #Logiciel .logiciel {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "html css sass" "js jquery typescript" "php mysql postgres" "nodejs popos mocha" "atom vscode bootstrap" "angular symfony react" "canva figma xd" "photoshop illustrator indesign";
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #Logiciel {
    margin-left: 5%;
  }
  #Logiciel .logiciel {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "html css sass js" "jquery typescript php mysql" "postgres nodejs popos mocha" "atom vscode bootstrap angular" "symfony react canva figma" "xd photoshop illustrator indesign";
  }
}
@media screen and (min-width: 1024px) {
  .skill {
    display: flex;
  }
  .skill .moitie {
    width: 50%;
  }
  .skill #Competence {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .skill #Logiciel {
    display: flex;
    flex-direction: column;
  }
  .skill #Logiciel .logiciel {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "html css sass js" "jquery typescript php mysql" "postgres nodejs popos mocha" "atom vscode bootstrap angular" "symfony react canva figma" "xd photoshop illustrator indesign";
  }
}
#Experience section {
  padding-bottom: 5%;
}
#Experience section, #Experience article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  #Experience img {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  #Experience {
    display: flex;
    flex-direction: column;
  }
  #Experience section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #Experience .EKNA, #Experience .ATIS, #Experience .Elf {
    flex-direction: row-reverse;
  }
}
#Diplome {
  padding-bottom: 5%;
}
#Diplome .container_card {
  display: grid;
}
#Diplome .container_card .card .card-face {
  border-radius: 5px;
  height: 200px;
  transition: 0.5s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
#Diplome .container_card .card .card-faceRecto,
#Diplome .container_card .card .card-faceVerso {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Diplome .container_card .card .card-faceRecto {
  background-color: #f5f5f5;
  transition: 0.5s;
  transform: translateY(25%);
}
#Diplome .container_card .card .card-faceVerso {
  background: #d1c5fb;
  opacity: 0;
  flex-direction: column;
  box-sizing: border-box;
  transform: translateY(10%);
  overflow: hidden;
}
#Diplome .container_card .card:hover .card-faceRecto,
#Diplome .container_card .card:hover .card-faceVerso {
  transform: translateY(0);
  padding: 0;
}
#Diplome .container_card .card:hover .card-faceRecto {
  background: #1e73be;
}
#Diplome .container_card .card:hover .card-faceVerso {
  flex-flow: column wrap;
  opacity: 1;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

@media only screen and (max-width: 767px) {
  .container_card {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". card1 ." ". card2 ." ". card3 ." ". card4 ." ". card5 .";
  }
  .container_card .card .card-face h4 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container_card {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". card1 ." ". card2 ." ". card3 ." ". card4 ." ". card5 .";
  }
  .container_card .card .card-face h4 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container_card {
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". card1 . card2 . card3 ." ". card4 . card5 . . .";
  }
}
#Portfolio {
  overflow: hidden;
}
#Portfolio .carousel {
  position: relative;
}
#Portfolio .carousel .carousel-inner {
  display: flex;
  overflow: hidden;
  height: 50vh;
  flex-wrap: nowrap;
}
#Portfolio .carousel .carousel-inner .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}
#Portfolio .carousel .carousel-inner .slide p {
  padding-bottom: 3%;
}
#Portfolio .carousel .carousel-inner .slide .button_modal {
  border: none;
  background-color: #1e73be;
  box-shadow: 2px 2px 6px black;
  font-size: 2rem;
  color: white;
  width: 150px;
  border-radius: 5px;
}
#Portfolio .carousel .carousel-inner .slide .button_modal:hover {
  background-color: black;
}
#Portfolio .carousel .carousel-dots {
  position: absolute;
  z-index: 3;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
}
#Portfolio .carousel .carousel-dots .dot {
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
#Portfolio .carousel .carousel-dots .active {
  border: 10px solid #1e73be !important;
}
#Portfolio .carousel .carousel-dots .inactive {
  border: 10px solid #cae8ff;
}
#Portfolio #modal_1, #Portfolio #modal_2, #Portfolio #modal_3, #Portfolio #modal_4,
#Portfolio #modal_5, #Portfolio #modal_6 {
  display: none;
}
#Portfolio .modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 77px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
#Portfolio .modal .modal_content {
  position: relative;
  width: 80%;
  height: 80%;
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  overflow: scroll;
  margin: auto;
}
#Portfolio .modal .modal_content a {
  width: 35px;
  height: 35px;
  background-color: #c0c0c0;
  border-radius: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 2em;
  text-align: center;
}
#Portfolio .modal .modal_content article figure img {
  width: 100%;
}

.modal_2_h1 {
  color: sandybrown;
  text-align: center;
}

.modal_2_header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
.modal_2_header .modal_2_player {
  width: 50%;
  text-align: center;
}
.modal_2_header .modal_2_player .modal_2_you {
  width: 80%;
  margin: auto;
}
.modal_2_header .modal_2_player h2,
.modal_2_header .modal_2_player .modal_2_pvY {
  color: darkblue;
}
.modal_2_header .modal_2_player .modal_2_pvYou {
  color: greenyellow;
  position: absolute;
  top: 43.5%;
  left: 25%;
}
.modal_2_header .modal_2_player h2 {
  font-family: "gagalin", "sans-serif";
}
.modal_2_header .modal_2_no-player {
  width: 50%;
  text-align: center;
}
.modal_2_header .modal_2_no-player .modal_2_monster {
  width: 80%;
  margin: auto;
}
.modal_2_header .modal_2_no-player h2,
.modal_2_header .modal_2_no-player .modal_2_pvM {
  color: red;
}
.modal_2_header .modal_2_no-player .modal_2_pvMonster {
  color: greenyellow;
  position: absolute;
  top: 43.5%;
  left: 73%;
}
.modal_2_header .modal_2_no-player h2 {
  font-family: "gagalin", "sans-serif";
}
.modal_2_header #modal_2_progress {
  width: 100%;
  height: 20px;
  background: grey;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px blue;
}
.modal_2_header #modal_2_progress #modal_2_barYou,
.modal_2_header #modal_2_progress #modal_2_barMonster {
  height: 100%;
  border-radius: 5px;
  background-repeat: repeat;
  animation: shine 2s ease-in infinite, end 1s ease-out 1 2s;
  transition: width 0.8s ease 0.4s;
  margin-top: 2%;
}
.modal_2_header #modal_2_progress #modal_2_barYou span,
.modal_2_header #modal_2_progress #modal_2_barMonster span {
  text-align: center;
  height: 18px;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}
.modal_2_header #modal_2_progress #modal_2_barYou {
  background: blue;
}
.modal_2_header #modal_2_progress #modal_2_barMonster {
  background: red;
}

.modal_2_button,
.modal_2_buttons {
  text-align: center;
}

.modal_2_start,
.modal_2_attack,
.modal_2_specialAttack,
.modal_2_heal,
.modal_2_giveUp {
  border-radius: 10px;
  padding: 0.75%;
}

.modal_2_start {
  background-color: greenyellow;
}

.modal_2_attack {
  background-color: red;
}

.modal_2_specialAttack {
  background-color: orange;
}

.modal_2_heal {
  background-color: greenyellow;
}

.modal_2_giveUp {
  background-color: grey;
  color: white;
}

.modal_2_log .modal_2_ul {
  padding: 0;
  background-color: honeydew;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}
.modal_2_log .modal_2_ul .blue {
  color: greenyellow;
  background-color: deepskyblue;
  display: flex;
  flex-direction: row-reverse;
}
.modal_2_log .modal_2_ul .articleImg {
  width: 22%;
  animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.modal_2_log .modal_2_ul .red {
  color: greenyellow;
  background-color: red;
}

@media only screen and (max-width: 767px) {
  .modal_2_log .modal_2_ul {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal_2_log .modal_2_ul {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .modal_2_log .modal_2_ul {
    font-size: 2rem;
  }
}
.modal_3_content {
  background-image: url("../img/portfolio/modal3/fond.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal_3_body .modal_3_h1 {
  text-align: center;
}
.modal_3_body .modal_3_main {
  display: grid;
  margin-bottom: 2%;
}
.modal_3_body .modal_3_main .modal_3_text {
  grid-area: inputText;
  transition: width 0.5s ease-in-out;
}
.modal_3_body .modal_3_main .modal_3_text:focus {
  background-color: sandybrown;
  color: darkblue;
}
.modal_3_body .modal_3_main .modal_3_add {
  grid-area: buttonAdd;
  cursor: pointer;
  background-color: greenyellow;
  border-radius: 4px;
  border: none;
}
.modal_3_body ul {
  margin: 0;
  padding: 0;
}
.modal_3_body ul li {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0.2fr 0.2fr;
  grid-template-areas: "p pencil croix";
  cursor: pointer;
  position: relative;
  font-size: 1em;
  padding: 12px 8px 12px 40px;
}
.modal_3_body ul li p {
  grid-area: p;
  margin: 0;
  font-size: 2em;
  color: darkblue;
}
.modal_3_body ul li .update {
  grid-area: pencil;
  background-color: deepskyblue;
  text-decoration: none;
}
.modal_3_body ul li .delete {
  grid-area: croix;
  background-color: red;
  text-decoration: none;
}
.modal_3_body ul li .update, .modal_3_body ul li .delete {
  cursor: pointer;
  border-radius: 4px;
}
.modal_3_body ul .checked {
  background: limegreen;
  color: #fff;
  text-decoration: underline;
}
.modal_3_body ul .checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

@media only screen and (max-width: 767px) {
  .modal_3_main {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
    gap: 0 15px;
    grid-template-areas: ". inputText inputText ." ". buttonAdd buttonAdd .";
  }
  .modal_3_main .modal_3_text {
    width: max-content;
    margin-bottom: 10%;
  }
  .modal_3_main .modal_3_text:focus {
    width: max-content;
  }
  ul li .update, ul li .delete {
    width: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal_3_main {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
    gap: 0 15px;
    grid-template-areas: ". inputText inputText ." ". buttonAdd buttonAdd .";
  }
  .modal_3_main .modal_3_text {
    width: 60%;
    margin-bottom: 5%;
  }
  .modal_3_main .modal_3_text:focus {
    width: 99%;
  }
  ul li .update, ul li .delete {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .modal_3_body .modal_3_main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 0.3fr 1fr;
    grid-template-areas: ". inputText buttonAdd .";
  }
  .modal_3_body .modal_3_main .modal_3_text {
    width: 35%;
  }
  .modal_3_body .modal_3_main .modal_3_text:focus {
    width: 70%;
  }
  .modal_3_body ul li .update, .modal_3_body ul li .delete {
    width: 50%;
  }
}
.modal_content_4 {
  background-image: url("../img/portfolio/modal4/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal_4_body {
  text-align: center;
}
.modal_4_body .modal_4_h1 {
  color: darkslategrey;
}

.modal_4_scorePlayer1 {
  color: cadetblue;
}

.modal_4_player1 {
  background-color: cadetblue;
  color: white;
}

.modal_4_scorePlayer2 {
  color: green;
}

.modal_4_player2 {
  background-color: green;
  color: white;
}

.modal_4_scoreTotal {
  color: brown;
}

.modal_4_reset {
  background-color: brown;
  color: white;
}

.modal_4_player1,
.modal_4_player2,
.modal_4_number,
.modal_4_reset {
  border-radius: 15%;
  cursor: pointer;
}

.modal_4_score,
.modal_4_buttons,
.modal_4_winner {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .modal_4_score,
  .modal_4_buttons,
  .modal_4_winner {
    font-size: 2rem;
  }
}
#modal_5 {
  overflow: hidden;
}
#modal_5 a {
  width: 35px;
  height: 35px;
  background-color: #c0c0c0;
  border-radius: 50px;
  position: absolute;
  top: 30px;
  right: 80px;
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  z-index: 2;
}
#modal_5 .modal5Carousel {
  position: relative;
  height: 80%;
  width: 80%;
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  overflow: scroll;
  margin: auto;
}
#modal_5 .modal5Carousel .modal_5_slide {
  display: flex;
  overflow: hidden;
  height: 70vh;
}
#modal_5 .modal5Carousel .modal_5_slide .modal5Slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: 100%;
  transition: 0.7s ease-in-out;
}
#modal_5 .modal5Carousel .modal_5_slide .modal5Slide figure img {
  height: 100%;
}
#modal_5 .modal5Carousel .modal5Carousel-dots {
  position: absolute;
  z-index: 3;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
}
#modal_5 .modal5Carousel .modal5Carousel-dots .modal5Dot, #modal_5 .modal5Carousel .modal5Carousel-dots .dot {
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
#modal_5 .modal5Carousel .modal5Carousel-dots .active {
  border: 10px solid #1e73be !important;
}
#modal_5 .modal5Carousel .modal5Carousel-dots .inactive {
  border: 10px solid #cae8ff;
}

@media only screen and (max-width: 767px) {
  #modal_5 .modal5Carousel .modal_5_slide .modal5Slide figure {
    height: 36%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #modal_5 .modal5Carousel .modal_5_slide .modal5Slide figure {
    height: 74%;
  }
}
@media screen and (min-width: 1024px) {
  #modal_5 .modal5Carousel .modal_5_slide .modal5Slide figure {
    height: 90%;
  }
}
#Contact {
  padding-bottom: 2%;
}

.footer-map {
  background-image: url(../img/footer/map-footer.png);
  background-size: cover;
  background-position: center;
}

.cv_bas {
  display: block;
  text-align: center;
  background-color: #1e73be;
  box-shadow: 2px 2px 6px black;
  font-size: 4rem;
  color: white;
  text-decoration: none;
  margin: auto;
}
.cv_bas:hover {
  background-color: black;
}

.copyright {
  text-align: center;
  padding: 33px 0 15px 0;
}

.photo {
  text-align: center;
}

.footer-title {
  grid-area: footertitle;
}

.footer-lien {
  grid-area: footerlien;
}

.footer-cv {
  grid-area: footercv;
}

.footer-map {
  grid-area: footermap;
}

@media only screen and (max-width: 767px) {
  #Contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 0.4fr 0.8fr;
    grid-template-areas: ". footertitle ." ". footerlien ." ". footercv ." "footermap footermap footermap";
  }
  #Contact .footer-lien {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #Contact .footer-lien p {
    display: none;
  }
  #Contact .footer-lien article {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
  }
  #Contact .cv_bas {
    width: 150px;
    border-radius: 5px;
    padding: 5px 50px;
  }
  #Contact .footer-map {
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #Contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 0.4fr 0.8fr;
    grid-template-areas: ". footertitle ." ". footerlien ." ". footercv ." "footermap footermap footermap";
  }
  #Contact .footer-lien {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #Contact .footer-lien p {
    display: none;
  }
  #Contact .footer-lien article {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
  }
  #Contact .cv_bas {
    width: 150px;
    border-radius: 5px;
    padding: 5px 50px;
  }
  #Contact .footer-map {
    height: 400px;
  }
}
@media screen and (min-width: 1024px) {
  #Contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.3fr;
    grid-template-areas: "footertitle footertitle" "footerlien footermap" "footercv footermap";
  }
  #Contact .footer-lien {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  #Contact .footer-lien article {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
  }
  #Contact .cv_bas {
    width: 150px;
    border-radius: 5px;
    padding: 5px 50px;
  }
  #Contact .footer-map {
    height: 400px;
  }
}
header {
  background-color: #cae8ff;
  background-blend-mode: soft-light;
  background-image: url(../img/header/img-header.PNG);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-bottom: 40px;
}
header h1 {
  font-weight: normal;
  margin: 0;
  padding: 25px;
  text-align: center;
  color: #1e73be;
}
header h2 {
  color: black;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
header a {
  display: block;
  width: 30%;
  text-align: center;
  margin: auto;
  border: solid 2px #1e73be;
  border-radius: 10px;
  font-size: 40px;
  color: #1e73be;
  text-decoration: none;
  padding: 7px;
}
header a:hover {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
}
nav {
  background-color: #1e73be;
  z-index: 4;
}
nav #menu_nav {
  background-color: #1e73be;
}
nav #menu_nav .closeNav {
  display: none;
}
nav #menu_nav ul {
  width: 100%;
}
nav #menu_nav ul li:hover {
  background-color: black;
}
nav #menu_nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

.menu_burger {
  display: block;
  background: #1e73be;
  font-size: 4rem;
}
.menu_burger .icon_burger {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  nav {
    position: sticky;
    top: 0;
  }
  nav #menu_nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 1s;
    z-index: 5;
  }
  nav #menu_nav .close_nav {
    position: absolute;
    font-size: 4rem;
    right: 5%;
    top: 2%;
    z-index: 1;
  }
  nav #menu_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #1e73be;
  }
  nav #menu_nav ul li a {
    font-size: 3rem;
    padding: 4%;
    transition: 0.3s;
  }
  .menu_burger {
    display: block;
    height: 100%;
    width: 100%;
  }
  .menu_burger .icon_burger {
    position: sticky;
    left: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    position: sticky;
    top: 0;
  }
  nav #menu_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 1s;
    z-index: 5;
  }
  nav #menu_nav .close_nav {
    position: absolute;
    font-size: 4rem;
    right: 5%;
    top: 2%;
    z-index: 1;
  }
  nav #menu_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #1e73be;
  }
  nav #menu_nav ul li a {
    font-size: 3rem;
    padding: 3%;
  }
  .menu_burger {
    display: block;
    height: 100%;
    width: 100%;
  }
  .menu_burger .icon_burger {
    position: sticky;
    left: 90%;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    position: sticky;
    top: 0;
    z-index: 5;
  }
  nav .close_nav {
    display: none;
  }
  nav #menu_nav {
    display: block !important;
    width: 100% !important;
  }
  nav #menu_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    top: 15%;
    letter-spacing: -0.25rem;
  }
  nav #menu_nav ul li {
    background-color: #1e73be;
    display: inline-block;
    width: 14.2857142857%;
    text-align: center;
    margin: 0;
    letter-spacing: normal;
    padding: 15px 0;
    box-sizing: unset;
  }
  nav #menu_nav ul li a {
    transition: 0.3s;
    font-size: 2rem;
    padding: 5px 0px;
    margin: 0 0.5em;
  }
  .menu_burger {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}

h2, h3, h4 {
  text-align: center;
  margin: 0;
  padding: 2rem 0;
}

h3 {
  font-size: 2.5em;
  color: #1e73be;
  padding: 25px 0;
  text-transform: uppercase;
}

h4 {
  font-size: 2em;
}

p {
  padding: 0 1.5rem;
  font-size: 1.15em;
}

body {
  padding: 0;
  margin: 0;
}

#Profil, #Competence, #Logiciel, #Experience,
#Portfolio, #Diplome {
  padding: 10rem 0;
}

#Contact {
  padding-top: 70px;
}

.background_grey {
  background-color: #f5f5f5;
}

.bold {
  font-weight: bold;
  font-size: 1.2em;
}

.em {
  font-style: italic;
  font-size: 1.15em;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
