$colour-grey: #cae8ff;
$colour-white: #efefef;
$colour-nav: #1e73be;
$colour-black: #212121;
$background-grey: #f5f5f5;

$colour-modal_2_title: sandybrown;
$colour-modal_2_button: greenyellow;
$colour-modal_2_player: darkblue;
$colour-modal_2_monster: red;

$colour-modal_3_blue: darkblue;
$colour-modal_3_green: limegreen;
$colour-modal_3_white: #fff;

$colour-modal_4_blue: #2F91FA;
$colour-modal_4_red: #FA5548;
$colour-modal_4_green: #18AD58;

$colour-modal_5_title: darkslategrey;
$colour-modal_5_white: white;
$colour-modal_5_player1: darkblue;
$colour-modal_5_player2: green;
$colour-modal_5_reset: brown;