header {
    background-color: $colour-grey;
    background-blend-mode: soft-light;
    background-image: url(../img/img-header.PNG);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-bottom: 40px;
    h1 {
        font-weight: normal;
        margin: 0;
        padding: 25px;
        text-align: center;
        color: $colour-nav;
    }
    h2 {
        color: black;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }
    a {
        display: block;
        width: 30%;
        text-align: center;
        margin: auto;
        border: solid 2px $colour-nav;
        border-radius: 10px;
        font-size: 40px;
        color: #1e73be;
        text-decoration: none;
        padding: 7px;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

@include phone() {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
}

@include tablet {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }

}

@include desktop {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }

}