.modal_3_content {
    background-image: url("../img/portfolio/modal3/fond.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.modal_3_body {

    .modal_3_h1 {
        text-align: center;
    }
    .modal_3_main {
        display: grid;
        margin-bottom: 2%;
        & .modal_3_text {
            grid-area: inputText;
            transition: width 0.5s ease-in-out;
        }
        & .modal_3_text:focus {
            background-color: $colour-modal_2_title;
            color: white;
        }
        & .modal_3_add {
            grid-area: buttonAdd;
            cursor: pointer;
            background-color: greenyellow;
            border-radius: 4px;
            border: none;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 0.2fr 0.2fr;
            grid-template-areas: "p pencil croix";
            cursor: pointer;
            position: relative;
            font-size: 1em;
            padding: 12px 8px 12px 40px;
            & p {
                grid-area: p;
                margin: 0;
                font-size: 2em;
                color: $colour-modal_3_blue;
            }
            & .update {
                grid-area: pencil;
                background-color: deepskyblue;
                text-decoration: none;
                
            }
            & .delete {
                grid-area: croix;
                background-color: red;
                text-decoration: none;
            }
            & .update,
            & .delete {
                cursor: pointer;
                border-radius: 4px;
            }
        }
        .checked {
            background: $colour-modal_3_green;
            color: $colour-modal_3_white;
            text-decoration: underline;
        }
        .checked::before {
            content: "";
            position: absolute;
            border-color: $colour-modal_3_white;
            border-style: solid;
            border-width: 0 2px 2px 0;
            top: 10px;
            left: 16px;
            transform: rotate(45deg);
            height: 15px;
            width: 7px;
        }
    }
}

@include phone() {
    .modal_3_main {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 0.3fr 1fr;
        gap: 0 15px;
        grid-template-areas: ". inputText inputText ."
        ". buttonAdd buttonAdd .";
        .modal_3_text {
            width: max-content;
            margin-bottom: 10%;
        }
        .modal_3_text:focus {
            width: max-content;
        }
    }
    ul {
        li {
            & .update,
            & .delete {
                width: 70%;
            }
        }
    }    
}

@include tablet() {
    .modal_3_main {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 0.3fr 1fr;
        gap: 0 15px;
        grid-template-areas: ". inputText inputText ."
        ". buttonAdd buttonAdd .";
        & .modal_3_text {
            width: 60%;
            margin-bottom: 5%;
        }
        & .modal_3_text:focus {
            width: 99%;
        }

    }
    ul {
        li {
            & .update,
            & .delete {
                width: 50%;
            }
        }
    }
}

@include desktop() {
    .modal_3_body {
        .modal_3_main {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 0.3fr 1fr;
            grid-template-areas: ". inputText buttonAdd .";
            & .modal_3_text {
                width: 35%;
            }
            & .modal_3_text:focus {
                width: 70%;
            }
        }
        ul {
            li {
                & .update,
                & .delete {
                    width: 50%;
                }
            }
        }    
    }
}