.modal_4_content {
    background-image: url("../img/portfolio/modal4/fond.webp");
    background-repeat: no-repeat;
    background-size: cover;
    .modal_4_body {
        height: 60%;
        .modal_4_h1 {
            text-align: center;
            color: $colour-modal_4_green;
        }
    }
}
.modal_4_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .modal_4_previous {
        border: none;
        border-radius: 20%;
        padding: 1em;
        cursor: pointer;
        background-color: $colour-modal_4_blue;
        margin-left: 5rem;
    }
    .modal_4_carousel {
        background-color: transparent;
        & img {
            border-radius: 5%;
        }
    }
    .modal_4_next {
        border: none;
        border-radius: 20%;
        padding: 1em;
        cursor: pointer;
        background-color: $colour-modal_4_red;
        margin-right: 5rem;
    }
}
@include phone {
    .modal_4_body {
        .modal_4_main {
            & .modal_4_previous {
                margin-left: 2rem;
            }
            & .modal_4_next {
                margin-right: 2rem;
            }
            & .modal_4_previous,
            & .modal_4_next {
                font-size: 0.5rem;
            }
            & .modal_4_carousel {
                margin: auto;
                width: 100%;
                padding: 0;
                & img {
                    width: 100%;
                }
            }
        }
    }
}

@include tablet {
    .modal_4_main {
        & .modal_4_previous,
        & .modal_4_next {
            font-size: 0.8rem;
        }
        & .modal_4_carousel {
            margin: auto;
            width: 90%;
            padding: 0;
            & img {
                width: 100%;
            }
        }
    }
}
@include desktop {
    .modal_4_main {
            .modal_4_carousel {
                margin: auto;
                width: 55%;
                padding: 0;
                & img {
                    width: 100%;
                }
            }
    }
}
