.modal_content_4 {
    background-image: url("../img/portfolio/modal4/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.modal_4_body {
    text-align: center;
    .modal_4_h1 {
        color: $colour-modal_4_title;
    }
}

.modal_4_scorePlayer1 {
    color: $colour-modal_4_player1;
}
.modal_4_player1 {
    background-color: $colour-modal_4_player1;
    color: $colour-modal_4_white;
}
.modal_4_scorePlayer2 {
    color: $colour-modal_4_player2;
}
.modal_4_player2 {
    background-color: $colour-modal_4_player2;
    color: $colour-modal_4_white;
}
.modal_4_scoreTotal {
    color: $colour-modal_4_reset;
}
.modal_4_reset {
    background-color: $colour-modal_4_reset;
    color: $colour-modal_4_white;
}
.modal_4_player1,
.modal_4_player2,
.modal_4_number,
.modal_4_reset {
    border-radius: 15%;
    cursor: pointer;
}

.modal_4_score,
.modal_4_buttons,
.modal_4_winner {
    font-size: 1rem;
}

@include desktop() {
    .modal_4_score,
    .modal_4_buttons,
    .modal_4_winner {
        font-size: 2rem;
    }
}
